/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 6 Weekly Challenge - City Weather Dashboard
Created 2023/08/16
Last Edited 2023/08/17
*/

/* defines variables for HTML colour codes */
:root
{
    --indigo: #5900ff;
    --lavender: #a380e5;
    --lilac: #d5beff;
}

/* sets padding & border to be included in element size, changes default font */
*
{
    box-sizing: border-box;
    font-family: Raleway;
}

/* changes font size and weight of search for a city text */
h2
{
    font-size: 225%;
    font-weight: bold;
}

/* defines display settings for city search input */
input
{
    font-size: 150%;
    border-radius: 10px;
    border: solid 2px var(--indigo);
}

/* changes input border & outline colour when selected */
input:focus
{
    border: solid 2px var(--lavender);
    outline: solid 1px var(--lavender);
}

/* defines general display settings for buttons */
button
{
    font-size: 125%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* defines display settings for weather dashboard header */
.header
{
    padding: 25px;
    font-size: 300%;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, var(--indigo), var(--lavender));
}

/* moves weather dashboard text in header towards the right side of the page */
.header > *
{
    margin-left: 20%;
    text-align: center;
}

/* defines width and margin of city search & history sections */
.city-content
{
    width: 27%;
    margin-left: 1%;
}

/* adds gap & line between city search & history */
.city-search
{
    padding-bottom: 20px;
    border-bottom: solid 3px var(--lilac);
}

/* defines display settings for elements within city search section */
.city-search > *
{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

/* changes colours of search button */
.search-button
{
    color: #ffffff;
    background-color: var(--indigo);
}

/* search button changes colour when hovered */
.search-button:hover
{
  background-color: var(--lavender);
  transition: 0.25s;
}

/* defines display settings for search history buttons */
.city-content button
{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

/* search history buttons change colour when hovered */
.search-history button:hover
{
  background-color: var(--lilac);
  transition: 0.25s;
}