/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 6 Weekly Challenge - City Weather Dashboard
Created 2023/08/16
Last Edited 2023/08/21
*/

/* defines variables for HTML colour codes */
:root
{
	--dark-grey: #232323;
	--indigo: #5900ff;
	--lavender: #a380e5;
	--lilac: #d5beff;
}

/* sets padding & border to be included in element size, changes default font */
*
{
	box-sizing: border-box;
	font-family: Raleway;
}

/* changes font size and weight of h2 elements */
h2
{
	font-size: 225%;
	font-weight: bold;
}

/* changes font size and weight of h3 elements */
h3
{
	font-size: 175%;
	font-weight: bold;
}

/* defines display settings for city search input */
input
{
	font-size: 150%;
	border-radius: 10px;
	border: solid 2px var(--indigo);
}

/* changes input border & outline colour when selected */
input:focus
{
	border: solid 2px var(--lavender);
	outline: solid 1px var(--lavender);
}

/* defines general display settings for buttons */
button
{
	font-size: 125%;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

/* buttons change colour when hovered */
button:hover
{
  transition: 0.25s;
}

/* defines display settings for weather dashboard header */
.header
{
	padding: 25px;
	font-size: 300%;
	font-weight: bold;
	color: #ffffff;
	background-image: linear-gradient(to bottom right, var(--indigo), var(--lavender));
}

/* moves weather dashboard text in header towards the right side of the page */
.header > *
{
	margin-left: 20%;
	text-align: center;
}

/* displays city search & history and today's & five-day forecast */
.main-content > *
{
	display: inline-block;
}

/* defines width & margin of city search & history sections */
.city-content
{
	width: 27%;
	margin-left: 1%;
	margin-right: 1%;
}

/* adds gap & line between city search & history */
.city-search
{
	padding-bottom: 20px;
	border-bottom: solid 3px var(--indigo);
}

/* defines display settings for elements within city search section */
.city-search > *
{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
}

/* changes colours of search button */
.search-button
{
	color: #ffffff;
	background-color: var(--indigo);
}

/* search button changes colour when hovered */
.city-search button:hover
{
  background-color: var(--lavender);
}

/* defines display settings for search history buttons */
.search-history button
{
	width: 100%;
	margin-top: 20px;
	padding: 10px;
}

/* displays content regarding the weather on the right side of the page, and defines display settings for it */
.weather-content
{
	width: 65%;
	margin-top: 10px;
	margin-right: 5%;
	float: right;
}

/* defines display settings for weather content text */
.weather-content p
{
	font-size: 150%;
	padding: 10px 0px 10px 0px;
}

/* defines display settings for today's weather box */
.weather-today
{
	padding: 6px 10px 6px 10px;
	margin-bottom: 20px;
	border: solid 2px var(--indigo);
}

/* displays icon representation of todays weather next to the date instead of below */
.weather-today h2
{
	margin-top: 4px;
	display: inline-block;
}
.weather-today img
{
	position: absolute;
	margin-left: 5px;
}

/* spaces five-day weather report evenly */
.weather-five-day
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* displays five-day forecast blocks in-line with each other */
.weather-five-day div
{
	margin-top: 20px;
	padding: 15px;
	display: inline-block;
	color: #ffffff;
	background-color: var(--dark-grey);
}

/* slightly increases gap above five-day forecast weather icons */
.weather-five-day img
{
	margin-top: 10px;
}